name: Build and Run Code

on:
  push:
    branches:
      - main
  workflow_dispatch: # Allows manual triggering

jobs:
  test: #Job name
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.9  # Adjust to your required Python version

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt  # Ensure you have a requirements.txt file listing dependencies

    - name: Install Geckodriver
      run: |
        sudo apt-get update
        sudo apt-get install -y firefox
        GECKODRIVER_VERSION=$(curl -s https://api.github.com/repos/mozilla/geckodriver/releases/latest | grep '"tag_name":' | cut -d '"' -f 4)
        wget "https://github.com/mozilla/geckodriver/releases/download/$GECKODRIVER_VERSION/geckodriver-$GECKODRIVER_VERSION-linux64.tar.gz" -O geckodriver.tar.gz
        tar -xvf geckodriver.tar.gz
        sudo mv geckodriver /usr/local/bin/
        geckodriver --version

    - name: Run Python Script
      run: |
        python Weather Data/Wunderground_daily_web_scrapping.py  # the path to your Python script
